@charset "UTF-8";
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  font-family: "Amiri", serif;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

a {
  color: #333;
  transition: 0.3s;
}
a:hover {
  color: #dc143c;
}

.global-nav {
  height: 70px;
  background-color: #fff;
  border-bottom: 1.5px solid #eee;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.global-nav .nav-title {
  font-size: 3.1rem;
  font-weight: 100;
  color: #666;
  letter-spacing: 3px;
  line-height: 70px;
  margin-left: 100px;
}
.global-nav .nav-list {
  padding: 0;
  list-style: none;
  display: flex;
  margin-right: 3%;
}
.global-nav .nav-list .nav-item {
  padding: 0 14px;
}
.global-nav .nav-list .nav-item a {
  position: relative;
  display: block;
  font-size: 2rem;
  letter-spacing: 2px;
  height: 70px;
  line-height: 70px;
  color: #333;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}
.global-nav .nav-list .nav-item a:hover {
  color: #dc143c;
}
.global-nav .nav-list .nav-item a::before, .global-nav .nav-list .nav-item a::after {
  position: absolute;
  left: 50%;
  content: "";
  width: 0;
  height: 1px;
  background-color: #dc143c;
  transition: 0.3s;
  transform: translateX(-50%);
}
.global-nav .nav-list .nav-item a::before {
  top: 20px;
}
.global-nav .nav-list .nav-item a::after {
  bottom: 20px;
}
.global-nav .nav-list .nav-item a:hover::before, .global-nav .nav-list .nav-item a:hover::after {
  width: 130%;
}
.global-nav.clone-nav {
  position: fixed;
  top: -100px;
  left: 0;
  height: 50px;
  line-height: 50px;
  transition: all 1s;
  background: rgba(200, 200, 200, 0.1);
}
@media screen and (max-width: 768px) {
  .global-nav.clone-nav {
    background: rgba(100, 100, 100, 0.1);
    width: 100%;
  }
}
.global-nav.clone-nav .nav-title {
  color: #222;
  line-height: 50px;
}
.global-nav.clone-nav .nav-list .nav-item a {
  color: #222;
  height: 50px;
  line-height: 50px;
}
.global-nav.clone-nav .nav-list .nav-item a:hover {
  color: #dc143c;
}
.global-nav.clone-nav .nav-list .nav-item a::before {
  top: 12px;
}
.global-nav.clone-nav .nav-list .nav-item a::after {
  bottom: 12px;
}
.global-nav.clone-nav.is-fixed-nav {
  top: 0;
}

@media (max-width: 768px) {
  .global-nav {
    width: 100%;
  }
  .global-nav .nav-title {
    display: none;
  }
  .global-nav .nav-list {
    justify-content: center;
    margin: 0 auto;
  }
  .global-nav .nav-list .nav-item {
    line-height: 30px;
    margin: 0;
  }
  .global-nav .nav-list .nav-item a {
    font-size: 1.3rem;
  }
  .global-nav .nav-list .nav-item a::before {
    top: 5px;
  }
  .global-nav .nav-list .nav-item a::after {
    bottom: 5px;
  }
}
.section {
  padding-top: 70px;
  width: 90%;
  margin: 60px auto;
}

@media screen and (max-width: 768px) {
  .section {
    padding-top: 30px;
    margin: 30px auto 0;
  }
}
.title {
  color: #444;
  font-family: "Amiri", serif;
  font-weight: 100;
}

.section-title-parent {
  text-align: center;
  margin-bottom: 20px;
}
.section-title-parent .section-title {
  font-size: 5rem;
  letter-spacing: 5px;
  text-align: center;
  position: relative;
  display: inline-block;
}
.section-title-parent .section-title::before, .section-title-parent .section-title::after {
  content: "◇";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #dc143c;
  font-size: 2rem;
}
.section-title-parent .section-title::before {
  left: -23%;
}
.section-title-parent .section-title::after {
  right: -23%;
}

@media screen and (max-width: 768px) {
  .section-title-parent .section-title {
    font-size: 3.5rem;
  }
}
.btn-wrapper {
  text-align: center;
}
.btn-wrapper .btn {
  display: inline-block;
  background: #fff;
  color: #444;
  font-size: 2.2rem;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 40px auto 0;
  padding: 12px 50px;
  border: 1px solid #aaa;
  border-radius: 2px;
  transition: 0.2s;
}
.btn-wrapper .btn:hover {
  color: #ad102f;
  box-shadow: 0px 0px 1.5px #dc143c;
}
@media screen and (max-width: 768px) {
  .btn-wrapper .btn {
    font-size: 2rem;
    margin: 20px auto 0;
    padding: 8px 40px;
  }
}

.header .header-title {
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: 4px;
  margin: 70px 0 0;
  text-align: center;
}
.header img {
  display: block;
  background: url(../images/top.jpg);
  background-size: cover;
  background-position: center;
  width: 70vw;
  height: 40vh;
  margin: 50px auto 0;
}

@media screen and (max-width: 768px) {
  .header .header-title {
    font-size: 3rem;
    margin: 30px 0 0;
  }
  .header img {
    height: 28vh;
    width: 90vw;
    margin: 30px auto 0;
  }
}
.about-section .intro {
  margin: 30px auto 0;
  width: 80%;
  display: flex;
  justify-content: center;
}
.about-section .intro .intro-text {
  margin: 10px 30px;
  width: 40%;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-indent: 0.8rem;
}
@media screen and (max-width: 768px) {
  .about-section .intro {
    margin: 0 auto;
    width: 90%;
    flex-direction: column;
  }
  .about-section .intro .intro-text {
    width: 95%;
    margin: 30px auto 0;
    font-size: 1.7rem;
    line-height: 1.6;
  }
}
.article-section {
  width: 80%;
}

.article-flex {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .article-flex {
    flex-direction: column;
  }
}

.topic {
  position: relative;
  padding: 50px 10px 90px;
  width: 25%;
  margin: 20px 15px;
  border: 1px solid #bbb;
}
@media screen and (max-width: 768px) {
  .topic {
    width: 85%;
    margin: 10px auto;
  }
}
.topic .topic-title {
  color: #666;
  font-size: 2.8rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .topic .topic-title {
    font-size: 2.2rem;
  }
}
.topic .topic-icon {
  font-size: 5rem;
  display: block;
  color: #888;
  margin: 35px 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .topic .topic-icon {
    font-size: 4rem;
    margin: 15px 0;
  }
}
.topic .topic-text {
  color: #666;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 1px;
  width: 85%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .topic .topic-text {
    margin: 20px auto 0;
  }
}
.topic .topic-btn {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 50px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 8px 12px;
  background: #ccc;
}

.link-section {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .link-section {
    width: 100%;
  }
}
.link-section > .section-title-parent {
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .link-section > .section-title-parent {
    margin-bottom: 30px;
  }
}
.link-section .link-wrapper {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 40px;
}
@media screen and (max-width: 768px) {
  .link-section .link-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 98%;
  }
}
.link-section .link-wrapper a {
  display: block;
  position: relative;
}
@media screen and (max-width: 768px) {
  .link-section .link-wrapper a {
    margin: 0 5px 5px 5px;
  }
}
.link-section .link-wrapper a .img {
  width: 180px;
  height: 111px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .link-section .link-wrapper a .img {
    width: 150px;
    height: 92px;
  }
}
.link-section .link-wrapper a .mask {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  font-size: 2.7rem;
  letter-spacing: 2px;
  opacity: 0;
  width: 180px;
  height: 111px;
  line-height: 111px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  .link-section .link-wrapper a .mask {
    display: none;
  }
}
.link-section .link-wrapper a:hover .mask {
  opacity: 1;
  transform: rotate(360deg);
}

.footer {
  padding: 50px 10vw;
  background: #b03131;
}
.footer .footer-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 4px;
}
.footer .footer-wrapper {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
  text-align: left;
}
.footer .footer-wrapper .footer-section {
  margin-right: 50px;
  padding: 8px 30px 20px 0;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper .footer-section {
    margin: 0 3px;
    padding: 0;
    width: 43%;
  }
}
.footer .footer-wrapper .footer-section .section-title {
  color: #fff;
  font-size: 2.4rem;
  letter-spacing: 3px;
  text-align: left;
  font-weight: 100;
  margin: 0 0 10px 0;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper .footer-section .section-title {
    letter-spacing: 1px;
  }
}
.footer .footer-wrapper .footer-section .footer-list {
  list-style: none;
}
.footer .footer-wrapper .footer-section .footer-list .list-item {
  font-size: 1.7rem;
  line-height: 1.7;
  letter-spacing: 2px;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper .footer-section .footer-list .list-item {
    font-size: 1.2rem;
  }
}
.footer .footer-wrapper .footer-section .footer-list .list-item::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  color: #fff;
  font-weight: 900;
  margin-right: 5px;
}
.footer .footer-wrapper .footer-section .footer-list .list-item a {
  color: #fff;
  text-decoration: none;
}
.footer .footer-wrapper .footer-section .footer-list .list-item a:hover {
  text-decoration: underline;
}
.footer .temp {
  border: 1px solid red;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}
.footer .copyright {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer .copyright {
    margin-top: 20px;
  }
}
.footer .copyright a {
  color: #fff;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 20px 1vw;
  }
  .footer .footer-title {
    font-size: 2.2rem;
    margin: 0 auto 20px;
    text-align: center;
  }
  .footer .footer-wrapper {
    margin: 0 auto;
    width: 90%;
    flex-direction: row;
    border: 1px solid red;
  }
}