* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  * {
    border: 1px solid red;
  }
}
html {
  font-size: 62.5%;
}

h1, h2, h3 {
  color: #444;
  font-weight: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 5vw;
}
.nav h1 {
  font-size: 3.2rem;
}
.nav ul {
  list-style: none;
  display: flex;
}
.nav ul li {
  margin: 0 20px;
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .nav {
    height: 8vh;
  }
  .nav h1 {
    font-size: 2rem;
  }
  .nav ul {
    display: none;
  }
}
.header {
  position: relative;
  height: 80vh;
  background-image: url(../images/header.webp);
  background-position: center center;
  background-size: cover;
}
.header .header-wrapper {
  position: absolute;
  top: 10vh;
  right: 10vw;
  color: #fff;
  width: 50%;
}
.header .header-wrapper h1 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 5rem;
}
.header .header-wrapper p {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .header {
    height: 60vh;
  }
  .header .header-wrapper {
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
  }
  .header .header-wrapper h1 {
    margin-bottom: 20px;
    font-size: 2.8rem;
  }
  .header .header-wrapper p {
    font-size: 1.6rem;
  }
}
.section {
  position: relative;
  padding: 70px 0 50px;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .section {
    min-height: 80vh;
  }
}
.title-wrapper .dot {
  margin: 10px auto;
  text-align: center;
}
.title-wrapper .dot:after {
  background: radial-gradient(circle farthest-side, green, green 60%, transparent 60%, transparent);
  background-size: 10px 10px;
  content: "";
  display: inline-block;
  height: 10px;
  width: 80px;
}

.btn-wrapper {
  display: inline-block;
  margin: 30px 0 10px;
  line-height: 5rem;
  text-decoration: none;
}
.btn-wrapper .link-btn {
  color: #888;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0 20px;
  transition: 0.1s;
}
.btn-wrapper .icon {
  display: inline-block;
  background-color: #eee;
  border: 1px solid #888;
  height: 5rem;
  width: 5rem;
  text-align: center;
  margin-left: 20px;
  border-radius: 50%;
  transition: 0.1s;
  color: #aaa;
}
.btn-wrapper:hover .link-btn {
  color: #666;
  border-bottom: 2px solid #666;
}
.btn-wrapper:hover .icon {
  background-color: #444;
  color: #eee;
}

.sec1 .box {
  position: absolute;
  top: 0;
  height: 80vh;
  width: 25vw;
  background: #E0EAFC;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: -1;
}
.sec1 .section-title {
  font-size: 4.2rem;
  letter-spacing: 8px;
  text-align: center;
}
.sec1 .wrapper {
  position: relative;
  margin-top: 50px;
}
.sec1 .wrapper .img {
  position: absolute;
  right: 0;
  background-image: url(../images/header.webp);
  background-size: cover;
  display: block;
  width: 55%;
  height: 80vh;
}
.sec1 .wrapper .message {
  position: absolute;
  top: 10vh;
  left: 20%;
  background-color: #fff;
  padding: 3rem;
  width: 40%;
}
.sec1 .wrapper .message .title-wrapper {
  margin-bottom: 20px;
}
.sec1 .wrapper .message .title-wrapper .dot {
  margin: 5px 0;
  text-align: left;
}
.sec1 .wrapper .message .title-wrapper .section-title {
  font-size: 2.5rem;
  text-align: left;
  letter-spacing: 2px;
}
.sec1 .wrapper .message p {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .sec1 .box {
    display: none;
  }
  .sec1 .section-title {
    font-size: 2rem;
  }
  .sec1 .wrapper .img {
    width: 100%;
    height: 50vh;
    top: 10vh;
  }
  .sec1 .wrapper .message {
    width: 80%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}