@charset "UTF-8";
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to left bottom, rgba(14, 24, 42, 0.99), rgba(14, 24, 42, 0.99));
  font-family: "游ゴシック", "Yu Gothic", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.nav {
  background-image: linear-gradient(to right, #E7017A, #DF4A1F);
  width: 100%;
  z-index: 2;
}
.nav ul {
  padding: 13px 0;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  white-space: nowrap;
}
.nav ul li {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.nav ul li a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .nav ul {
    justify-content: start;
    width: 90%;
  }
  .nav ul li {
    margin-right: 20px;
    font-size: 0.9rem;
    font-weight: normal;
  }
}
.view {
  min-height: 100vh;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e2e8f0;
  line-height: 1.5;
  margin-top: -50px;
  height: 100vh;
}
.header h1 {
  margin-bottom: 4vh;
  color: #e2e8f0;
  font-size: 2.2rem;
  letter-spacing: 2px;
}
.header p {
  margin-bottom: 6vh;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 1px;
  width: 50%;
}
.header .box {
  position: relative;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style: none;
  background-color: rgba(14, 24, 42, 0.99);
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 50px;
}
.header .box::before {
  content: "";
  position: absolute;
  height: 170%;
  width: 200px;
  background-image: linear-gradient(#E7017A, #DF4A1F);
  animation: animate 8s linear infinite;
}
.header .box::after {
  content: "";
  position: absolute;
  inset: 4px;
  background-color: rgba(13, 22, 39, 0.99);
}
.header .box li {
  position: relative;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 1;
}
.header .scroll {
  position: absolute;
  bottom: 8vh;
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom: 1.5px solid #fff;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin-top: 30px;
  }
  .header h1 {
    width: 80%;
    font-size: 1.3rem;
  }
  .header p {
    width: 80%;
    font-size: 0.9rem;
  }
  .header .box {
    width: 65%;
    height: 200px;
  }
  .header .box::before {
    width: 150px;
  }
  .header .box li {
    font-size: 1rem;
  }
}
.cutout {
  font-size: 1.7em;
  color: transparent;
  -webkit-text-stroke: 1px #E7017A;
}

.char-gradient {
  color: #E7017A;
  background: -webkit-linear-gradient(0deg, #E7017A 40%, #DF4A1F 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  text-shadow: 0 0 3px 3px #E7017A;
}

.viewList {
  position: fixed;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  list-style: none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.viewList li {
  border-radius: 2px;
}
.viewList li a {
  display: block;
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  z-index: 2;
  transition: 0.35s;
  padding: 15px 20px;
}
.viewList li:hover {
  box-shadow: 0 0 20px 1px rgba(223, 74, 31, 0.4);
}
.viewList li:hover a {
  color: #DF4A1F;
}
.viewList li.active {
  box-shadow: 0 0 20px 1px rgba(231, 1, 122, 0.4);
}
.viewList li.active a {
  color: rgba(231, 1, 122, 0.8);
}

@media screen and (max-width: 768px) {
  .viewList {
    display: none;
  }
}
.section {
  padding: 50px 0 20px;
}
.section .section-title {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 3px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section .section-title {
    font-size: 2.5rem;
  }
}
.view2 .container {
  margin: 100px auto 50px;
  width: 85%;
  display: flex;
  justify-content: space-around;
}
.view2 .box {
  position: relative;
  width: 240px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: 0.5s;
}
.view2 .box::before, .view2 .box::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  border-radius: 8px;
  transition: 0.5s;
}
.view2 .box::after {
  filter: blur(30px);
}
.view2 .box:nth-child(1):before, .view2 .box:nth-child(1)::after {
  background-image: linear-gradient(315deg, #ffbc00, #ff0058);
  transform: skewX(15deg);
}
.view2 .box:nth-child(2):before, .view2 .box:nth-child(2):after {
  background-image: linear-gradient(315deg, #0575E6, #00F260);
}
.view2 .box:nth-child(3):before, .view2 .box:nth-child(3)::after {
  background: linear-gradient(45deg, #db36a4, #f7ff00);
  transform: skewX(-15deg);
}
.view2 .box:hover::before, .view2 .box:hover::after {
  transform: skewX(0deg);
  width: calc(100% - 90px);
}
.view2 .box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
}
.view2 .box span::before, .view2 .box span::after {
  content: "";
  position: absolute;
  /*
  width: 100%;
  height: 100%;
      */
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  opacity: 0;
  transition-delay: 0.3s;
}
.view2 .box:hover span::before, .view2 .box:hover span::after {
  width: 100px;
  height: 100px;
  opacity: 1;
}
.view2 .box:nth-child(1) span::before {
  animation: span-anime1 2s ease-in-out infinite;
  top: -50px;
}
.view2 .box:nth-child(1) span::after {
  animation: span-anime2 2s ease-in-out infinite;
  bottom: -50px;
  right: 0;
}
.view2 .box:nth-child(2) span::before {
  animation: span-anime2 2s ease-in-out infinite;
  top: -50px;
  right: 0;
}
.view2 .box:nth-child(2) span::after {
  animation: span-anime1 2s ease-in-out infinite;
  bottom: -50px;
  left: 0;
}
.view2 .box:nth-child(3) span::before {
  animation: span-anime2 2s ease-in-out infinite;
  top: -50px;
  right: 0;
}
.view2 .box:nth-child(3) span::after {
  animation: span-anime3 2s ease-in-out infinite;
  bottom: -50px;
  left: 0;
}
@keyframes span-anime1 {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes span-anime2 {
  0%, 100% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
}
@keyframes span-anime3 {
  0%, 100% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}
.view2 .box .content {
  position: absolute;
  width: 100%;
  padding: 30px 40px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 1;
  transition: 0.5s;
  color: #fff;
}
.view2 .box .content h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.view2 .box .content p {
  font-size: 1rem;
  line-height: 1.7;
}
.view2 .box:hover .content {
  padding: 18px 45px;
  width: 110%;
}
.view2 .arch-table {
  width: 60%;
  margin: 100px auto 0;
  color: #fff;
}
.view2 .arch-table tr {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px 20px;
}
.view2 .arch-table tr th,
.view2 .arch-table tr td {
  font-size: 1.5rem;
  line-height: 1.3;
}
.view2 .arch-table tr th {
  position: relative;
  width: 190px;
}
.view2 .arch-table tr th::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
}
.view2 .arch-table tr:nth-child(1) th::before {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}
.view2 .arch-table tr:nth-child(2) th::before {
  background: linear-gradient(315deg, #0575E6, #00F260);
}
.view2 .arch-table tr:nth-child(3) th::before {
  background: linear-gradient(45deg, #db36a4, #f7ff00);
}

@media screen and (max-width: 768px) {
  .view2 .container {
    flex-direction: column;
    margin: 80px auto 30px;
  }
  .view2 .box {
    height: 250px;
    margin-bottom: 50px;
  }
  .view2 .box:nth-child(1):before, .view2 .box:nth-child(1)::after {
    transform: skewX(0);
  }
  .view2 .box:nth-child(3):before, .view2 .box:nth-child(3)::after {
    transform: skewX(0);
  }
  .view2 .box:hover span::before, .view2 .box:hover span::after {
    width: 75px;
    height: 75px;
  }
  .view2 .box .content {
    width: 80%;
    padding: 20px 25px;
  }
  .view2 .box .content h3 {
    font-size: 1.2rem;
  }
  .view2 .box .content p {
    font-size: 0.9rem;
  }
  .view2 .box:hover .content {
    padding: 18px 30px;
    width: 100%;
  }
  .view2 .arch-table {
    margin: 30px auto 0;
    width: 95%;
  }
  .view2 .arch-table tr {
    padding: 12px;
  }
  .view2 .arch-table tr th {
    font-size: 0.9rem;
  }
  .view2 .arch-table tr td {
    font-size: 0.8rem;
  }
  .view2 .arch-table tr th {
    max-width: 110px;
  }
  .view2 .arch-table tr th::before {
    height: 18px;
    width: 18px;
    border-radius: 5px;
  }
}
.view3 .wrapper {
  width: 60%;
  margin: 50px auto;
}
.view3 .wrapper .content {
  display: flex;
  color: #fff;
  width: 80%;
  margin-bottom: 30px;
  padding: 12px 8px;
  transition: 0.3s;
  text-decoration: none;
}
.view3 .wrapper .content:hover {
  background-color: rgba(255, 255, 255, 0.01);
  color: rgba(231, 1, 122, 0.8);
}
.view3 .wrapper .content .page-number {
  position: relative;
  margin-right: 50px;
  width: 55px;
  height: 55px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view3 .wrapper .content .page-number::before, .view3 .wrapper .content .page-number::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  transform: skewX(2deg) skewY(4deg);
  border-radius: 2px;
}
.view3 .wrapper .content .page-number::after {
  filter: blur(15px);
}
.view3 .wrapper .content .page-number span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(14, 24, 42, 0.99);
  z-index: 1;
}
.view3 .wrapper .content .page-number h4 {
  position: relative;
  font-size: 1.2rem;
  z-index: 3;
}
.view3 .wrapper .content .setumei h3 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  line-height: 1.5;
}
.view3 .wrapper .content .setumei p {
  font-size: 1.1rem;
  line-height: 1.5;
}
.view3 .wrapper .content .page-1::before, .view3 .wrapper .content .page-1::after {
  background: linear-gradient(315deg, #4A569D, rgba(14, 24, 42, 0.99), #DC2424);
}
.view3 .wrapper .content .page-2::before, .view3 .wrapper .content .page-2::after {
  background: linear-gradient(315deg, orange, rgba(14, 24, 42, 0.99), #009FFF);
}
.view3 .wrapper .content .page-3::before, .view3 .wrapper .content .page-3::after {
  background: linear-gradient(315deg, #00f260, rgba(14, 24, 42, 0.99), #ffd200);
}
.view3 .wrapper .content .page-4::before, .view3 .wrapper .content .page-4::after {
  background: linear-gradient(315deg, #b91d73, rgba(14, 24, 42, 0.99), #f953c6);
}
.view3 .wrapper .content .page-5::before, .view3 .wrapper .content .page-5::after {
  background: linear-gradient(315deg, #ffd200, rgba(14, 24, 42, 0.99), #FC466B);
}
.view3 .wrapper .content .page-6::before, .view3 .wrapper .content .page-6::after {
  background: linear-gradient(315deg, #00c3ff, rgba(14, 24, 42, 0.99), #ffff1c);
}
.view3 .wrapper .content .page-7::before, .view3 .wrapper .content .page-7::after {
  background: linear-gradient(315deg, #66ff00, rgba(14, 24, 42, 0.99), #a80077);
}

@media screen and (max-width: 768px) {
  .view3 .wrapper {
    width: 90%;
    margin: 30px auto;
  }
  .view3 .wrapper .content {
    width: 100%;
    flex-direction: column;
  }
  .view3 .wrapper .content .page-number {
    margin-right: 0;
    margin-bottom: 20px;
    width: 45px;
    height: 45px;
  }
  .view3 .wrapper .content .page-number h4 {
    font-size: 1rem;
  }
  .view3 .wrapper .content .setumei {
    width: 95%;
  }
  .view3 .wrapper .content .setumei h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .view3 .wrapper .content .setumei p {
    font-size: 0.9rem;
  }
}