@charset "UTF-8";

@import "./reset";
@import "./global-nav";
@import "./variables";

html {
  font-size: 62.5%;
  font-family: 'Amiri', serif;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

a {
  color: #333;
  transition: .3s;
  &:hover {
    color: $main-color;
  }
}

.title {
  color: #444;
  font-weight: 100;
}

.section {
  padding-top: 70px;
  width: 90%;
  margin: 60px auto;
}

@media screen and (max-width: 768px) {
  .section {
    padding-top: 30px;
    margin: 30px auto 0;
  }
}

.section-title-parent {
  text-align: center;
  margin: 0 auto 20px;
  width: 90%;
  .section-title {
    font-size: 5rem;
    letter-spacing: 5px;
    text-align: center;
    position: relative;
    display: inline-block;
    &::before,
    &::after {
      content: "◇";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: $main-color;
      font-size: 2rem;
    }
    &::before {
      left: -23%;
    }
    &::after {
      right: -23%;
    }
  } //section-title
} //title-parent

@media screen and (max-width: 768px) {
  .section-title-parent {
    margin: 0 auto 20px;
    .section-title {
      font-size: 3.5rem;
    }
  }
}

.btn-wrapper {
  text-align: center;
  .btn {
    display: inline-block;
    background: #fff;
    color: #444;
    font-size: 2.2rem;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 40px auto 0;
    padding: 12px 50px;
    border:1px solid #aaa;
    border-radius: 2px;
    transition: .2s;
    &:hover {
      color: darken($main-color,10%);
      box-shadow: 0px 0px 1.5px $main-color;
    }
    @media screen and (max-width: 768px) {
      font-size: 2rem;
      margin: 20px auto 0;
      padding: 8px 40px;
    }
  }
}

.header {
  .header-title {
    font-size: 5rem;
    font-weight: 100;
    letter-spacing: 4px;
    margin: 70px 0 0;
    text-align: center;
  }
  img {
    display: block;
    max-width: 1080px;
    width: 50%;
    height: auto;
    margin: 50px auto 0;
  }
}

@media screen and (max-width:768px) {
  .header {
    .header-title {
      font-size: 3rem;
      margin: 30px 0 0;
    }
    img {
      width: 70vw;
      margin: 30px auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding-bottom: 50px;
  }
}

.about-section {
  .intro {
    margin: 30px auto 0;
    width: 80%;
    display: flex;
    justify-content: center;
    .intro-text {
      margin: 10px 30px;
      width: 40%;
      font-size: 2rem;
      letter-spacing: 1px;
      line-height: 1.5;
      text-indent: .8rem;
    }
  } //intro
} //top

@media screen and (max-width: 768px) {
  .about-section {
    .intro {
      margin: 0 auto;
      width: 90%;
      flex-direction: column;
      .intro-text {
        width: 95%;
        margin: 10px auto 30px;
        font-size: 1.7rem;
        line-height: 1.6;
      }
    }
  }
}

.article-section {
  width: 80%;
}

.article-flex {
  display: flex;
  justify-content: center;
}

.topic {
  position: relative;
  padding: 50px 10px 90px;
  width: 25%;
  margin: 20px 15px;
  border:1px solid #bbb;
  .topic-title {
    color: #666;
    font-size: 2.8rem;
    text-align: center;
  }
  .topic-icon {
    font-size: 5rem;
    display: block;
    color: #888;
    margin: 35px 0;
    text-align: center;
  }
  .topic-text {
    color: #666;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 1px;
    width: 85%;
    margin: 0 auto;
  }
  .topic-btn {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 50px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 8px 12px;
    background: #ccc;
  }
}

@media screen and (max-width:768px) {
  .article-section {
    width: 90%;
    .article-flex {
      flex-direction: column;
      .topic {
        width: 75%;
        margin: 10px auto;
        padding: 30px 10px 70px;
        .topic-title {
          font-size: 2.2rem;
        }
        .topic-icon {
          font-size: 4rem;
          margin: 15px 0;
        }
        .topic-text {
          margin: 20px auto 0;
        }
      }
    }
  }
}

.link-section {
  display: flex;
  flex-direction: column;
  .section-title-parent {
    margin-bottom: 60px;
  }
  .link-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto 40px;
    source {
      display: block;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .link-section {
    width: 100%;
    .section-title-parent {
      margin-bottom: 30px;
    }
    .link-wrapper {
      flex-wrap: wrap;
      margin: 0 auto;
      width: 93%;
    }
  } 
}

.footer {
  padding: 50px 10vw;
  background: #b03131;

  .footer-title {
    color: #fff;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 4px;
  }

  .footer-wrapper {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    text-align: left;
    .footer-section {
      margin-right: 50px;
      padding: 8px 30px 20px 0;
      .section-title {
        color: #fff;
        font-size: 2.4rem;
        letter-spacing: 3px;
        text-align: left;
        font-weight: 100;
        margin: 0 0 10px 0;
      }
      .footer-list {
        list-style: none;
        .list-item {
          font-size: 1.7rem;
          line-height: 1.7;
          letter-spacing: 2px;
          margin-left: 10px;
          @media screen and (max-width: 768px) {
            font-size: 1.2rem;
          }
          &::before {
            font-family: "Font Awesome 5 Free";
            content: '\f0da';
            color: #fff;
            font-weight: 900;
            margin-right: 5px;
          }
          a {
            color: #fff;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        } //list-item
      } //footer-list
    } //footer-section
  } //footer-wrapper

  .copyright {
    color: #fff;
    font-size: 2rem;
    letter-spacing: 1px;
    text-align: center;
    a {
      color: inherit;
      font-size: 2rem;
    }
    a:hover {
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 20px 1vw;
    .footer-title {
      font-size: 2.2rem;
      margin: 0 auto 20px;
      text-align: center;
    }
    .footer-wrapper {
      margin: 0 auto;
      width: 90%;
      flex-wrap: wrap;

      .footer-section {
        margin: 0 3px;
        padding: 0;
        width: 43%;
        margin-bottom: 20px;
        .section-title {
          font-size: 1.8rem;
          letter-spacing: 1px;
          margin: 0 0 5px 0;
        }
      }
    }
    .copyright {
      margin-top: 20px;
      font-size: 1.5rem;
      a {
        color: #fff;
        font-size: 1.5rem;
      }
    }
  }// footer
}
