@import "../../../common_src/scss/master";

$main-color: #E7017A;
$main-color2: #DF4A1F;
$bg-gradient: rgb(14, 24, 42, .99);
$gradient-primary: $main-color linear-gradient(91.78deg, $main-color 2.57%, $main-color2 96.33%);

html {
	scroll-behavior: smooth;
}

body {
	background-image: linear-gradient(to left bottom, rgba($bg-gradient, 0.99), $bg-gradient);
	font-family: "游ゴシック", "Yu Gothic",
		"Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.nav {
	//position: fixed;
	background-image: linear-gradient(to right, $main-color, $main-color2);
	width: 100%;
	z-index: 2;
	ul {
		padding: 13px 0;
		width: 50%;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		li {
			font-size: 1.2rem;
			font-weight: bold;
			letter-spacing: 1px;
			a {
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

.view {
	height: 100vh;
}

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(226, 232, 240);
	line-height: 1.5;
	margin-top: -50px;
	h1 {
		margin-bottom: 4vh;
		color: rgb(226, 232, 240);
		font-size: 2.2rem;
		letter-spacing: 2px;
	}
	p {
		margin-bottom: 6vh;
		font-size: 1.3rem;
		text-align: center;
		letter-spacing: 1px;
		width: 50%;
	}
	.box {
		position: relative;
		width: 400px;
		height: 300px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		list-style: none;
		background-color: $bg-gradient;
		overflow: hidden;
		border-radius: 10px;
		margin-bottom: 50px;
		&::before {
			content: "";
			position: absolute;
			height: 170%;
			width: 200px;
			background-image: linear-gradient($main-color, $main-color2);
			animation: animate 8s linear infinite;
		}
		&::after {
			content: "";
			position: absolute;
			inset: 4px;
			background-color: darken($bg-gradient, 0.9);
		}
		li {
			position: relative;
			text-align: center;
			font-size: 1.4rem;
			font-weight: 500;
			letter-spacing: 1px;
			z-index: 1;
		}
	}
	.scroll {
		position: absolute;
		bottom: 8vh;
		font-size: 1.1rem;
		font-weight: 500;
		border-bottom: 1.5px solid #fff;
	}
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}	
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 768px) {
	.header {
		h1 {
			width: 80%;
			font-size: 1.3rem;
		}
		p {
			width: 80%;
			font-size: 0.9rem;
		}
		.box {
			width: 65%;
			height: 200px;
			&::before {
				width: 150px;
			}
			li {
				font-size: 1rem;
			}
		}
	}
	
}

.cutout {
	font-size: 1.7em;
	color: transparent;
	-webkit-text-stroke: 1px $main-color;
}

.char-gradient {
	color: #E7017A;
	background: -webkit-linear-gradient(0deg,  #E7017A 40%, #DF4A1F 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-weight: 900;
	text-shadow: 0 0 3px 3px $main-color;
}

.viewList {
	position: fixed;
	top: 50%;
	right: 60px;
	transform: translateY(-50%);
	list-style: none;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	li {
			border-radius: 2px;
		a {
			display: block;
			position: relative;
			text-decoration: none;
			color: #fff;
			font-size: 2rem;
			z-index: 2;
			transition: .35s;
			padding: 15px 20px;
		}
		&:hover {
			box-shadow: 0 0 20px 1px rgba($main-color2, 0.4);
			a {
				color: $main-color2;
			}
		}
	}
	li.active {
		box-shadow: 0 0 20px 1px rgba($main-color, 0.4);
		a {
			color: rgba($main-color, 0.8);
		}
	}
}

@media screen and (max-width: 768px) {
	.viewList {
		display: none;
	}
}

.section {
	padding: 50px 0;
	.section-title {
		color: transparent;
		-webkit-text-stroke: 1px #fff;
		font-size: 4rem;
		font-weight: 100;
		letter-spacing: 3px;
		text-align: center;
	}
}