@import "../../../common_src/scss/master";

$main-color: #E7017A;
$main-color2: #DF4A1F;
$bg-gradient: rgb(14, 24, 42, .99);
$gradient-primary: $main-color linear-gradient(91.78deg, $main-color 2.57%, $main-color2 96.33%);

body {
	background-color: $bg-gradient;
	font-family: "游ゴシック", "Yu Gothic",
		"Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
		scroll-behavior: smooth;
}

.view {
	height: 100vh;
}

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(226, 232, 240);
	line-height: 1.5;
	h1 {
		margin-bottom: 4vh;
		color: rgb(226, 232, 240);
		font-size: 3rem;
		letter-spacing: 1.5px;
	}
	p {
		margin-bottom: 6vh;
		font-size: 1.3rem;
		text-align: center;
		letter-spacing: 1px;
	}
	ul {
		position: relative;
		list-style: none;
		padding: 20px 40px;
		border: 3px solid #c21500;
		border-image: $gradient-primary;
		border-image-slice: 1;
		border-radius: 2px 35px 2px 2px;
		background-color: $bg-gradient ;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 100%;
			height: 100%;
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
			z-index: -1;
			background-image: linear-gradient(135deg, $main-color 0, $main-color2 100%);
			-webkit-filter: blur(10px);
			filter: blur(10px);
			transform: translateY(10px);
			box-shadow: none;
		}
		li {
			text-align: center;
			font-size: 1.7rem;
			font-weight: 500;
			letter-spacing: 1px;
		}
	}
	.scroll {
		position: absolute;
		bottom: 8vh;
		font-size: 1.1rem;
			font-weight: 500;
		border-bottom: 1.5px solid #fff;
	}
}

@media screen and (max-width: 768px) {
	.header {
		h1 {
			width: 80%;
			font-size: 1.5rem;
		}
		p {
			width: 80%;
			font-size: 1rem;
		}
		ul {
			width: 60%;
			padding: 10px 20px;
			li {
				font-size: 1.2rem;
			}
		}
	}
	
}
.char-gradient {
	color: #E7017A;
	background: -webkit-linear-gradient(0deg,  #E7017A 40%, #DF4A1F 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-weight: 900;
	text-shadow: 0 0 3px 3px $main-color;
}

.section {
	color: #fff;
	border: 1px solid #fff;
}

.viewList {
	position: fixed;
	top: 50%;
	right: 60px;
	transform: translateY(-50%);
	list-style: none;
	li {
		margin-bottom: 10px;
		a {
			display: block;
			position: relative;
			text-decoration: none;
			color: #fff;
			font-size: 1.2rem;
			z-index: 2;
			transition: .35s;
		}
	}
	a.active {
		color: $main-color;
	}
}

@media screen and (max-width: 768px) {
	.viewList {
		display: none;
	}
}
